* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu {
    background-color: #007906;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu > ul > li {
    float: left;
}

.menu li a {
    display: inline-block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: blue;
}